# XDG base
export XDG_CONFIG_HOME="$HOME/.config"

# Carpeta de configs
export SHELL_CONFIG="$XDG_CONFIG_HOME/bash"

# Cargar todo
for file in "$SHELL_CONFIG"/*.zsh; do
  [ -r "$file" ] && source "$file"
done

# Overrides locales
[ -f ~/.zshrc_local ] && source ~/.zshrc_local
